





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #dd8838;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.compteur {
    height: 33.333vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.compteur h2 {
    text-align: center;
    margin-bottom: 20px;
}

.compteur-container {
    display: table;
    margin-bottom: 20px;
}

.compteur p {
    display: table-row;
}

.compteur span, .compteur label {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
}

.compteur input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.compteur-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
















